 .btn {
  border-radius: 0.25rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
} 

.btn-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.btn-lg {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.btn-dark { --tw-bg-opacity: 1; background-color: rgba(17, 24, 39, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-secondary { --tw-bg-opacity: 1; background-color: rgba(107, 114, 128, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-primary { --tw-bg-opacity: 1; background-color: rgba(79, 70, 229, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-light { --tw-bg-opacity: 1; background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.btn-info { --tw-bg-opacity: 1; background-color: rgba(147, 197, 253, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.btn-rose { --tw-bg-opacity: 1; background-color: rgba(239, 68, 68, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-warning { --tw-bg-opacity: 1; background-color: rgba(245, 158, 11, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(153, 27, 27, var(--tw-text-opacity))
}

.btn-success { --tw-bg-opacity: 1; background-color: rgba(16, 185, 129, var(--tw-bg-opacity)); --tw-text-opacity: 1; color: rgba(255, 255, 255, var(--tw-text-opacity))
}
